.CharacterFlexbox {
    border-radius: 10px;
    margin: 10px;
    background-color: #61dafb;
}
.CharacterFlexbox h2 {
}
.CharacterFlexbox p {
    background-color: antiquewhite;
}

.characterimage {
    margin: 10px;
}

/*.CharacterFlexbox img {*/
/*    width: 90%;*/
/*    !*max-width: 150px;*!*/
/*    margin: 10px;*/
/*}*/
